.left{
    border-style: "solid";
    border-width: medium;
    z-index: 1;
    width: auto;
    vertical-align: top;
    padding: 10px
}

.right{
    border-style: "solid";
    border-color: black;
    border-width: medium;
    z-index: 1;
    width: auto;
    padding: 10px
}

.table{
    border-style: "solid";
    border-color: black;
    border-width: medium;
    vertical-align: top;
    width: 100%;
    margin: 0;
    border: "1px solid grey";
}