.left{
    border-style: "solid";
    border-width: medium;
    z-index: 1;
    width: auto;
    display:grid;
    min-height: max-content;

}

.right{
    border-style: "solid";
    border-color: black;
    border-width: medium;
    z-index: 1;
    width: auto;
    min-height: max-content;

}

.table{
    border-style: "solid";
    border-color: black;
    border-width: medium;
    vertical-align: top;
    width: 100%;
    margin: 0;
    border: "1px solid grey";
    display:grid;
    
}